.g-bd{width:980px;margin:0 auto;}
.g-cnt{width:680px;margin:0 auto;padding:30px;}
.w-btn{width:100px;height:28px;}
.m-tb{width:100%;margin:20px 0;}
.m-tb td{border:solid 1px #ccc;text-align:center;height:30px;line-height:30px;}
.m-nav select{width:120px;}
.m-nav .slt{margin-right:298px;}
