.g-bd{width:980px;margin:0 auto;}
.g-cnt{width:600px;margin:30px auto;}
.g-cnt h3{height:50px;line-height:50px;font-weight:bold;}
.m-lab{margin-bottom:10px;}
.m-lab input{width:160px;height:30px;}
.w-btn{width:100px;height:28px;}